{% extends 'Blog/base.html' %}
{% load static %}
{% block content %}
<div class="wrap-content gaussian-blur border-radius">
    <article>
        <div class="art-header">
            <div class="entry-title">
                <h4>
                    <a href="{% url 'blog_page_pk' blog.pk %}">{{ blog.title }}</a>
                </h4>
            </div>
        </div>
        <div class="art-cat">
            <i class="fa fa-clock-o">{{ blog.update_time }}</i>
            <a href="#">
                <i class="fa fa-user">{{ blog.author }}</i>
            </a>
            {% for type in blog.type_blog.all %}
            <a href="{% url 'blog_type_name' type %}">
                <i class="fa fa-tags">{{ type }}</i>
            </a>
            {% endfor %}
        </div>
        <div class="art-content">
            <div>{{ blog.content|safe}}</div>
        </div>
    </article>
</div>
{% endblock %}